

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>status</title>
</head>
<body>
    
  
    {% block content %}
    
    <div class="status">
    <table style="width:50%">
        <tr>
            <th class="total-order">Total Orders</th>
            <th class="order-delivered">Order delivered</th>
            <th class="order-pending">Order pending</th> 
        </tr>
       <tr>
        <td>5</td>
        <td>3</td>
        <td>2</td>
       </tr>
    
    </table>
</div>
    <hr>

    {% endblock %}
</body>
</html>